.title {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    color: yellow;
    margin-top: 20px;
}

.title .white {
    color: white;
}

.top-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#searchBar {
    width: 300px;
    padding: 10px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
}

.filter-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
    gap: 10px;
}

.filter-buttons button {
    background-color: #ff00ff;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.filter-buttons button:hover {
    background-color: #ff55ff;
    transform: scale(1.05);
}
