body {
    background: #0a0a0a;
    font-family: Arial, sans-serif;
}

button {
    background: linear-gradient(45deg, #a100ff, #ff4fd8);
    border: none;
    padding: 15px 25px;
    border-radius: 12px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: 0
